#cloud-config
# -*- YAML -*-
locale: en_US.UTF-8

users:
  - name: soham
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDLubLnkS0lxmcj7AWQjUdflJmG9j+GcKIgteX2jgnCcljiNTd2RG3RXwrg1d/aumbknrkl02W2pfsZ7fxy14Qw+1kInefUb5/Eu0DBRYDOamYuzDvF0igQdHvFaZ067FeZgNNU/UBBAAT6Pr4JrNnx59HofTbB/W/+swdbs5lXJkgMqlgqAJk1pTicRVdegscQrJVkl/uxKRSmuY/mNHZoCh7ApIQcCoWrs2Mv/J39Os+gAb1UIWL0E48Exq6opXxRWZFi/636TmamFjzRzAoZqS4lbGOs2Ejo6Lt8WNq0DphREQXQSTauYDT/A6lIaBfzWFDSpW99lCFNdE4N5QbC7FRgtkrQSTp2zSkz2OQ9Wp/hddvkkzAF9K4aovxNYHKMc2e0Hon+jFm5KdTsnk7BWOM1siWL0cS2ttByK99eriMFQYV7zw/V6nFK58SkeL4BYd8PWiaFP/5iwXpnk/PH2PSpLRq7dXey1Qs0MYmN2ihN/vyT+lT9OCc5KtJl1H8= soham@localhost.localdomain
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash

packages:
 - traceroute
 - nmap
 - keepalived